<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; img-src 'self' data:;">
    <link rel="stylesheet" href="./styles/root.css" />
    <link rel="stylesheet" href="./styles/document_form.css" />
    <title>OIL</title>
  </head>
  <body>
    <span class="division-line"></span>
    <header>
        <div class="header-section">
            <h1>OIL</h1>
        </div>
        <div class="header-section">
            <button id="return-btn" class="header-btn">Volver</button>
            <button id="save-btn" class="header-btn">Guardar</button>
            <button id="delete-btn" class="header-btn">Eliminar</button>
        </div>
    </header>

    <div id="magical-form">
        <input hidden type="number" id="id" data-type="integer"/> 
        <input type="text" id="code" data-type="string"/> 
        <select data-type="select" id="company_id">
            <option value="-1">
                -- Selecciona una Empresa --
            </option>
        </select>
        <select data-type="select" id="customer_id">
            <option value="-1">
                -- Selecciona un Cliente --
            </option>
        </select>
        <select data-type="select" id="type">
            <option value="presupuesto" selected>
                Presupuesto
            </option>
            <option value="factura">
                Factura
            </option>
        </select>
        <input type="date" placeholder="Fecha Creacion del Documento" id="creation_date" data-type="date"/>
        <input type="date" placeholder="Fecha Limite de Pago" id="pay_limit_date" data-type="date"/>
    </div>
    <div>
        <input type="text" id="dl-prod-name" placeholder="Nombre del Producto"/>
        <input type="number" placeholder="Cantidad" id="dl-quantity"/>
        <input type="number" placeholder="Precio" id="dl-price"/>
        <input type="number" placeholder="IVA%" id="dl-iva"/>
        <button id="add-dl">Añadir</button>
        <button id="modify-dl">Modificar</button>
        <button id="remove-dl">Eliminar</button>
    </div>
    <table>
        <thead>
            <tr>
                <th hidden>Id</th>
                <th>Nombre del Producto</th>
                <th>Precio del Producto</th>
                <th>Cantidad</th>
                <th>IVA</th>
            </tr>
        </thead>
        <tbody id="magical-table">
            <tr hidden id="base-dl-row" data-type="row">
                <td data-id="id" data-type="integer" hidden></td>
                <td data-id="prod_name" data-type="string"></td>
                <td data-id="prod_price" data-type="float"></td>
                <td data-id="quantity" data-type="integer"></td>
                <td data-id="iva" data-type="integer"></td>
            </tr>
        </tbody>
    </table>
    <script src="../utils/MagicalForm.js"></script>
    <script src="../renderer_scripts/document_form_renderer.js"></script>
  </body>
</html>



