<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">
    <link rel="stylesheet" href="./styles/root.css" />
    <link rel="stylesheet" href="./styles/main.css" />
    <title>OIL</title>
  </head>
  <body>
    <span class="division-line"></span>
    <header>
        <div class="header-section">
            <h1>OIL</h1>
        </div>
        <div class="header-section">
            <button id="companies-btn" class="header-btn">Empresas</button>
            <button id="customers-btn" class="header-btn">Clientes</button>
            <button id="products-btn" class="header-btn">Productos</button>
            <button id="config-btn" class="header-btn">Configuracion</button>
        </div>
    </header>

    <div id="magical-container">
        
    </div>
    <script src="../renderer_scripts/main_renderer.js"></script>
  </body>
</html>
