<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">
    <link rel="stylesheet" href="./styles/root.css" />
    <link rel="stylesheet" href="./styles/main.css" />
    <title>OIL</title>
  </head>
  <body>
    <span class="division-line"></span>
    <header>
        <div class="header-section">
            <h1>OIL</h1>
        </div>
        <div class="header-section">
            <button id="companies-btn" class="header-btn">Empresas</button>
            <button id="customers-btn" class="header-btn">Clientes</button>
            <button id="products-btn" class="header-btn">Productos</button>
            <button id="config-btn" class="header-btn">Configuracion</button>
        </div>
    </header>

    <div class="filters-container">
        <div class="filter-component">
            <label>Tipo de documento:</label>
            <select id="doc-type-select">
                <!-- TODO: Change values from strings to numbers -->
                <option value="all">Todos los tipos</option>
                <option value="presupuesto">Presupuesto</option>
                <option value="factura">Factura</option>
            </select>
        </div>
        <div class="filter-component">
            <label>Empresa:</label>
            <select id="company-select">
                <option value="-1">Todas</option>
            </select>
        </div>
        <div class="filter-component">
            <label>Cliente:</label>
            <select id="customer-select">
                <option value="-1">Todos</option>
            </select>
        </div>
    </div>
    <div id="magical-container">
        
    </div>
    <div id="magical-document-element" hidden>
        <div class="doc-element-header">
            <h3 data-id="doc-number"></h3>
            <h3 data-id="company-name"></h3>
        </div>
        <div data-id="customer-name"></div>
        <div data-id="creation-date"></div>
    </div>
    <script src="../renderer_scripts/main_renderer.js"></script>
  </body>
</html>
